{% block menu %}

    <br />
    <div class="ui four item menu">
        <a href="{{ path('cart_index') }}" class="item">Cart</a>
        <a href="{{ path('admin_manufacturer_index') }}" class="item">Manufacturers</a>
        <a href="{{ path('admin_product_index') }}" class="item">Products</a>
        <a href="{{ path('admin_purchase_index') }}" class="item">Purchases</a>
    </div>
    <br />

{% endblock %}